*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 4vh;
    margin: 0;
}

.holder{
    position: fixed;
    top: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: center;
    background-color: black;
    width: 100vw;
}

.linkbar{
    width: 100vw;
    background-color: black;
}

.headTitle{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 110px;
}

.headTitle img{
    height: 15vh;
}

.headSocials{
    padding: 0 40px;
    
}

.headSocials ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
}

.linkbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
}

.contentContainer{
    margin-top: 205px;
}

.content{
    height: 90vh;
    width: 100%;
}

#contentOne, #contentThree, #contentFive{
    background-color: black;
}

#contentTwo, #contentFour{
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
    color: white
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: black;
    width: 100vw;
}

footer a{
    color:white;
    text-decoration: none;
}