*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 3vh;
    scroll-padding-top: 255px; /* height of sticky header */
}

body{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family:  'Gill Sans', Impact, sans-serif;
}

.holder{
    position: fixed;
    top: 0;
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.headTitle img{
    width: 400px;
    height: auto;
}

.headTitle{
    flex: 1;    
}

#intro{
    margin-top: 260px;
}

.mainContent{
    height: 500px;
}

.footSocials{
    padding: 0 20px;
    justify-self: flex-end;   
}

.footSocials ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.footContainer{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    display:flex;
    align-items: center;
}

.footContact{
    flex:1;
    font-size: 1rem;
    text-align: center;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

/* ========================================================================= */
/* Styling for the nav button*/
.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  color: #090909;
  width: 2.5em;
  height: 2.5em;
  background:black;
}

.menuBtn span {
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 100px;
    transition: 0.3s ease;
}

/* ========================================================================= */
/* The side nav menu */
.sidenav {
    height: 100%;
    width: 0; /* 0 width - changes with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; 
    transition: 0.5s; 
}
  
  /* The nav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #849397;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Position logo in nav menu (top left corner) */
.sidenav .sideLogo {
    position: absolute;
    top: 10px;
    left: 20px;
    margin-right: 50px;
}
 
/* ========================================================================= */
/*Adjustments for small screens*/

/* Small change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 415px) {
    .headTitle img{width: 300px; height: auto;}
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    html {scroll-padding-top: 215px;}
}